<div class="edit-metric container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="page-header">
        <nav class="pull-right">
          <%= link_to fa_icon("arrow-left", text: "Cancel"), metrics_path, class: "btn btn-default" %>
        </nav>
        <h1>Edit Metric</h1>
      </div>
      <%= form_for @metric, html: { class: "edit-metric-form metric-form" } do |form| %>
        <%= render form %>
      <% end %>
    </div>
  </div>
</div>
