<div class="metric-list">
  <table class="metric-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @metrics.each do |metric| %>
        <tr class="metric-row">
          <td class="metric-row-name"><%= metric.name %></td>
          <td class="metric-row-type"><%= metric.type %></td>
          <td class="metric-row-actions">
            <%= link_to "View", metric_path(metric) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
