@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.metric-row-actions {
  text-align: right;
}

.popover {
  th {
    text-align: right;
    padding-right: 5px;
  }

  td {
    padding-left: 5px;
  }
}

.metric-table th,
.metric-detail dt,
.metric-form label {
  text-transform: capitalize;
}
