@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.metric-row-actions {
  text-align: right;
}

.popover {
  th {
    text-align: right;
    padding-right: 5px;
  }

  td {
    padding-left: 5px;
  }
}

.metric-table th,
.metric-form label {
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .metric-detail-graph-controls {
    select {
      margin: 0 10px;
    }
  }
}

@media (max-width: 767px) {
  .metric-detail-graph-controls {
    select {
      margin: 0 0 10px 0;
    }
  }
}
